
#MatchData, #AutonomousData, #TeleopData, #PostMatch {
    break-before: page
}

#TeleopMade, #TeleopMissed {
    margin-top: 15px;
}

#autoScoring_coneUpper {
    float: left; 
    width: 150%;
}

#autoScoring_coneMiddle {
    float: left; 
    width: 150%;
}

#autoScoring_coneLower {
    float: left; 
    width: 150%;
}

#autoScoring_cubeUpper {
    float: left; 
    width: 150%;
}

#autoScoring_cubeMiddle {
    float: left; 
    width: 150%;
}

#autoScoring_cubeLower {
    float: left; 
    width: 150%;
}

#reminderToSwitchToTeleop {
    clear: left;
    float: left;
    width: 70%;
    visibility: hidden;
    font-size: 25px;
    color: #ffffff;
}

#teleopScoring_left  {
    float: left; 
    width: 28%;
}

#teleopScoring_center {
    float: left; 
    width: 28%;
}

#teleopScoring_right {
    float: left; 
    width: 28%;
}
#everyThing {
    /* width: 8000px; */
    height: 8000px;
}

table {
    border: 3px solid black;
}

h1 {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
h2 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    font-size: 1.3em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
  }

button {
   border-top: 1px solid #ccffff;
   background: #ccffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#1f525a), to(#00333d));
   background: -webkit-linear-gradient(top, #1f525a, #00333d);
   background: -moz-linear-gradient(top, #1f525a, #00333d);
   background: -ms-linear-gradient(top, #1f525a, #00333d);
   background: -o-linear-gradient(top, #1f525a, #00333d);
   padding: 6.5px 13px;
   -webkit-border-radius: 11px;
   -moz-border-radius: 11px;
   border-radius: 11px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ccffff;
   font-size: 25px;
   font-family: "Comic Sans MS", "Comic Sans"; /*cursive;*/
   text-decoration: none;
   vertical-align: middle;
}
button:hover {
   border-top-color: #00331f;
   background: #00331f;
   color: #ccffff;
}
button:active {
   border-top-color: #00331f;
   background: #00331f;
}

body {
	background: hsl(0, 1%, 19%);
    padding: 0.5em;
	line-height: 1.4;
    margin: 1.5;
    font-size: 18px;
    font-family: "Comic Sans MS", "Comic Sans"; /*cursive*/;
    color: #07a559;
}

input[type="text"], input[type="tel"], input[type="number"], input[type="checkbox"], textarea, select {
    border: 1px solid #111;
    padding: 0.5em;
    font-size: 19px;
    line-height: 1.2em;
    background: #00913d;
    color: #ccffff;
    font-family: "Comic Sans MS", "Comic Sans"; /* cursive*/
    background: -webkit-gradient(linear, left top, left bottom, from(#00333d), to(#00331a));
    -webkit-appearance: none;
    /*box-shadow*/
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 80%;
    height: 200px;
    margin: 5px;
}

select {
    padding: 0.5em 1em 0.5em 0.75em;
    background: #00333d;
    -webkit-background-size: 1600px 32px;
    -moz-background-size: 1600px 32px;
    -o-background-size: 1600px 32px;
    background-size: 1600px 32px;
}

select:focus, input:focus, textarea:focus { outline-color: #ccffff }

input[type=checkbox]:checked {
    background: url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%008%00%00%008%08%02%00%00%00'%E4%ACI%00%00%00%19tEXtSoftware%00Adobe%20ImageReadyq%C9e%3C%00%00%04%FEIDATx%DA%EC%98%DFo%1BE%10%C7g%ED%E4l%E7~%F8%9C%8B%7F%C5%8DS%D2%26P%01UQ%1E%10%12R%11%12B%AAx%E0%8D'%FED%D47J_%10%FF%00%20%F5%01%15%119!n%1C'%25%C9%D9%17%FBn%EFb%2F%D3Y%9Du%89%83%E4%CD%0FP%D1%ADV%D1%C6%3B%E7%FB%F8%BB%B33%B3%CB677%E1mh%19xKZ%0A%9A%82%A6%A0)h%0A%9A%82%A6%A0Wjs%D7y%98%C5%03q%13f7%0F%CA%A8g%12%CB1%26%08A%83%E4bM%2C'f%13%CB%5B%07e%F4%0C%F6y%FA%9B%A1w%9F%25%FA8%A6%9CK%F4%89Y%14%9B%89%5B%05%95%94%1A%C0%02%F5%3C%E1%22A%000%00%F0ip%16%7F%2F%CE%16%00t%1Ad%08%11g%87%D4A%9D5%BB%BC%BC%ACJi%018%00%15%80%3A%C0%E3%93%93Q%3E%9Fc%2C%9BX%FA%2C%C1%15%01%96%00%AA%00%CBB%7C%EA%BA%BCP%D0hJ%C4%94j%A0%F5z%7Dv%D0yR%08)%F1%C7%AD%02%3C%E9v%1F%ED%EE%3E%1C%0E%5D%DB%96%8B%3B%22K%042%E9%97%AC%00%AC%09%F1M%AB%B5%D1%ED6%18%EB%1B%06%90%B4!%B1%8ETX%15%40%A5N%16%89%84%94_v%BB%D5N%A7%83%9Fp%FE%81%EF%F7K%25%60L%FE%18%83(%9B%00%1BB%7C%D5jA%AF%B7%8F%F2%7B%DE2c%87%86%E1%93%93%84%09%87%9E%E9%ED%B5ZmF9'%0B%8A%0F%3C98%40%CA.%BD%AF%8Fd%9Co%F8%FE%90tE%BF%2C%014%00%D6%85%F8%7C%7B%3B%EA%F5%DA%24%1E%C2U%3C%AF%94%C9%B4t%DD%A3%7F%A38%08%DC%A4%A2%2C%A1%E8c%D7%FD%A8%DD%EE%10%A5l%92u%CD%F7%C1%B6M%C6P%F2w%84%F8x%7B%3B%24J%D9F%B4%99%9A%9E%E7%17%0A%7F%E4%F3%B8%F9%F8m(*%23%8E%DC%EF%A3%5C%EE%91%EF%9B%9C%F7%13%B3%92%B5%E1%FB%E3b%D1%16%E2%C1%CEN%92R6%F4%EC%C8%B2%9E%D5j%7F%01%9C%12%E8%ECn%9A%ADV%AB%B3%D8%89XTt%C1%1C%C0%89m%7F%E8%FB%C6e%AC%15%DF_t%DD%B0%DF%BF%40%89%1Bk%DE%B2%9E%DE%BD%DBf%EC(%01%0A7%0B%0Aq%8E%91A%0A%89%FB%C5%E2%7BA%A0O%B1%8E8%1Fr~8E%99%B3%AC%E7%AB%AB-%C6%D0%B3O%12%3E%3A%2Bh%A5R%99%3D%98%89%F3%7DP%2C%DEC%5D%C30%C9%CA%A9_%A0%D4%2C%EB%A7f%F3w%C6v%01%5E%03x%8A%EB%AE%06%3A%C9%E6%E3D%60g%C5b%23%08.%B0%5E%A44%CD_%9B%CD%97%8Cm%03%A0%9C.%C9%A9%14%9B%DE%BC%AB%5C._AQ%20g%5D%A0%C0%3E%B6%ACr%10%8C%C3%90O%D9c%2C3Mskee%9F%B1%1D%00%8C%A6G%94l%23E%CA%EB%D6%A3%E2%16%2CoFQY%13%15(%9A%E2cw(%5E%BE%FF%EAU%E8y%87%97%D9%A3%C6%E8%15%A8w%CF4%7B%B4%D3%03%92st%85%5C%BF%B4%B4%A4D)%93%93%CC%A2%EF%0A%F1%C9%DE%5E%E4y%ED%7F~%AAO%AC%0D%CE%915%A0%1C1I%9EJ%ACj%A0%1A%15%25e%CA%E3H%F9%05R%9E%9E%B6%A7%FC2%7F~%E3K%D6%7BApD%AC%01%CD%9E%A9%E6z%C7qf%07%C5PoSuw_%88%AF%3B%9D%B3)J%DC%E3%A6a%2Ch%DA%858%20Y78o%1B%86G%25%A9r%1C%9D%11T%A6%A5%02%816%84%F8v%7F%9F%5DF9o%18%5B%F5%FA%B1i%96%C3p%9A%D5%0C%C3u%CE_%18%86K%AC%A1RQ%B2%B8%B88%7B%99%97%A3m%F4%D9%E9%E9%83%E3%E3%FD%F3%09%F0%0D%A5%AE%FFR%AF%EF1%86%89%A7g%18w87%A2(%C9%8A%8B%EE%84%A1%97%CB%BD%D44%D5%98%AF%00%9A%A1%D8%89%A2%06%9A%B6%C2%18%D6%1F~%CC*)%7F%AC%D5~KDu%D70%EE%A3%AE1%ABF%F5%E1%9F%8E%F3%DC%B2%AE%90%9C%14%40Y%7C%A6%C3%BD%E2%16%0Aw%B0%9C%23V%AC%89%B2%BA%FE%7D%AD%26s%0F%96%7F%C7%14%D5%03%2C%3E%0Cc%23%0C%CD(%0A%88%F2%B5%E3%3C%2B%95%3Aq%D8%0F%95%7C%B4%84%95%B9%CA)%5E%96%26(C7%9Fw2%99U%DF%0Ft%FD%BBju%8Br%8F%84%90u1%A7%B5n%EB%FAz%18.E%D1%8E%E3%FC%60%DB%E8%D6%07T%94%0C%15w%BD%C2)T%9Ew%87%24%18%10%CA%A1mo%CE%CD%BD%D0u%97*7%FC%BC%17%07%A6%90%96%15%C78%D5%AEV%1F%0E%06%3F%D3%1E%3A%A6%3ET%CF%F5lmmM%F5%B8%9C%A3h*%CF%C1Z%7C%CC%18%C4Ag%14%EF%BC%02%15%03%3A%0D%B2%84.O%D5%838%8E*e%26%B5s%BD%88%8F%ED%F2%2C%2F%0B%D3%C9%CDB%94%D0I%C4%25%92%1F_%40%8C%CE%9B%DD%EE%05%C4%84uL%0A%C9%3AZ%5Cv%A53%8E%0F%C4%7C%CAl%FC%EF%5C%E9H%D6%D1%0C%B7_%E3%FF%FC%92L%B5x%BB~%8D%97%5E%E4%A6%A0)h%0A%9A%82%A6%A0)%E8%FF%1E%F4o%01%06%00%DBBF5c%12Wd%00%00%00%00IEND%AEB%60%82") no-repeat center center;
    /*background-size*/
    -webkit-background-size: 28px 28px;
    -moz-background-size: 28px 28px;
    -o-background-size: 28px 28px;
    background-size: 28px 28px;
}

input[type="number"], button {
    margin-bottom: 10px;
    color:#ccffff
}

.Map {
    border: 2px solid #ccffff;
    border-collapse: collapse;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#slider {
	width: 400px;
	height: 17px;
	position: relative;
	margin: 20px;
	background: #00333d;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

.bar {
	width: 388px;
	height: 5px;
	background: #00331a;
	position: relative;
	top: -8px;
	left: 4px;	
	
	background: #1d2e38;
	background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );	
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#slider .highlight {
	height: 2px;
	position: absolute;
	width: 388px;
	top: 6px;
	left: 6px;
		
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	background: rgba(255, 255, 255, 0.25);
}

#shortslider {
	width: 200px;
	height: 17px;
	position: relative;
	margin: 20px;
	background: #10171D;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	
	-webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	-moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
	box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px 0px rgba(255, 255, 255, 0.13);
}

#shortslider .bar {
	width: 190px;
	height: 5px;
	background: #333;
	position: relative;
	top: -4px;
	left: 4px;	
	
	background: #1d2e38;
	background: -moz-linear-gradient(left, #1d2e38 0%, #2b4254 50%, #2b4254 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d2e38), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -o-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: -ms-linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	background: linear-gradient(left, #1d2e38 0%,#2b4254 50%,#2b4254 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );	
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#shortslider .highlight {
	height: 2px;
	position: absolute;
	width: 190px;
	top: 6px;
	left: 6px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	
	background: rgba(255, 255, 255, 0.25);
}

input[type="range"] {
	-webkit-appearance: none;
	background-color: 00331a;
	height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 15px;
	height: 15px;
	cursor: auto;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c00), color-stop(50%,#610000), color-stop(100%,#c00));
}


#Comments {
    margin-top: 25px;
}

.tabs a.active {
background: #00913d;
color: #ccffff;
}
.tabs a {
padding: 5px 10px;
display: inline-block;
background: #666;
color: #fff;
text-decoration: none;
}

li {
    display: inline-block;
}

#FeatureDataStrings, #FeatureValues, #AutonomousScoring, #position, #FeatureComments, #teamLabel, #teamDisp {
    display: inline-block;
    vertical-align: middle;
}

#AutonomousScoring  {
    width: 300px;
    margin-left: 10;
    margin-right: auto;
    text-align: right;
}

#matchTitles {
    display: inline-block;
    margin-left: 8px;
    margin-right: float;
    text-align: right;
	font-size: 16px;
}

#matchFields {
    display: inline-block;
    margin-left: 8px;
    margin-right: float;
    text-align: left;
}

#About {
    width: 850px;
}

#undoAttempt {
	margin-left: 3em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*QRCODE stuff*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 95%;
    height: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#joyStick {
    background: blue;
    height: 300px;
    text-align: center;
    font: 30px/300px Helvetica, Arial, sans-serif;
  }